@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Work+Sans:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sofia", sans-serif;
    color: aliceblue;
}

#ab{
    color: black;
}
#ac{
    color: black;
}
#abc{
    color: black;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(' ../images/image2.avif');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
    position: relative; 
    opacity:1.9;  
    /* text-shadow: -4px 1px 4px rgba(254, 255, 255, 1); */
    font-size: 1.2rem;
    
}

.nav-item{
  font-weight: 600;
}

.header::before{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 2%;
    z-index: -400;
    background:linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);;
}

.header:hover{
    opacity: 5.0;
    transition: .2s;
}

.header-section{
    width: 100%;
    height: inherit;
    text-align: center;
    position: relative;
}

.center-div{
    width: auto;
    height: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

.header-buttons{
    display: flex;
    gap: 3rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.header-buttons a{
    border: 2px solid white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    outline: none;
    color: #fff;
    padding:12px 35px ;
    margin: 0 5px;
    line-height: 1.4;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: #fff;
    transition: 2s;
    border-radius: 20px;
    opacity: 80%;
    text-shadow:  0px 11px 10px rgba(81,67,21,0.8);
    font-weight: 900;
}

.header-buttons a:hover{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    transition: 2s;
    text-shadow:  0px 11px 10px rgba(81,67,21,0.8);
    font-weight: 900;

}

.font-weight-bold{
    transition: 2s;
    text-shadow: 16px 22px 11px rgba(168,158,32,0.8);
    /* background: linear-gradient(to right, #00c3ff, #ffff1c); */
}

.font-weight-bold:hover{
    color: #50d1c0;
    /* color: linear-gradient(0deg, #00c3ff 0%,#ffff1c 100%);  */
}


/* extra header div css start */

.header-extradiv{
    width: auto; height: auto; margin: auto;
    padding-top: 2rem;
    text-align: center;
}



.extra-div{
    background-color: white;
    border: medium none;
    padding: 50px;
    border-radius: 3px;
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.extra-div h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    line-height:1.1;
    word-spacing: 4px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(57, 56, 56, 0.3);
    

}
.extra-div p{
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(57, 56, 56, 0.3);
}

.fa-5x{
    font-size: 3rem;
    color: rgb(211, 44, 44);
}

.extra-div:hover{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(-10px);
}

/* Extra div css part end */



/* ================= my experience css part start  ====================== */

#lol{
    color: black;
    text-shadow: none;
}

/* css code for progress bar started */

.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #e0e0e0;
    
    margin: 10px 0;
  }

  .progress-bar:hover{
    box-shadow: -19px 1px 80px 21px rgba(0,0,0,0.6),
    0px 45px 26px 0px rgba(0,0,0,0.14);

  }

  .progress-bar2:hover{
    box-shadow: -19px 1px 80px 21px rgba(0,0,0,0.6),
    0px 45px 26px 0px rgba(0,0,0,0.14);

  }

  .progress-bar3:hover{
    box-shadow: -19px 1px 80px 21px rgba(0,0,0,0.6),
    0px 45px 26px 0px rgba(0,0,0,0.14);

  } 

  .progress-bar4:hover{
    box-shadow: -19px 1px 80px 21px rgba(0,0,0,0.6),
    0px 45px 26px 0px rgba(0,0,0,0.14);

  } 

  
  .progress {
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: #1b521d;
    animation: progress-bar-animation 2s ease-out forwards;
  }
  
  @keyframes progress-bar-animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  .progress-bar2 {
    width: 90%;
    height: 20px;
    border-radius: 10px;
    background-color:rgb(66, 65, 65);
    
    margin: 20px 0;
    transition: 2s;
  }
  
  .progress {
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color:rgb(66, 65, 65);;
    background-color: linear-gradient(0deg, #00c3ff 0%,#ffff1c 100%);;
    animation: progress-bar-animation 2s ease-out forwards;
  }
  
  @keyframes progress-bar2-animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }



  .progress-bar3 {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #e0e0e0;
    
    margin: 20px 0;
  }
  
  .progress {
    width: 20%;
    height: 100%;
    border-radius: 120px;
   
    animation: progress-bar-animation 2s ease-out forwards;
  }
  
  @keyframes progress-bar-animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  .progress-bar4 {
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background-color: #e0e0e0;
   
    margin: 20px 0;
  }


  .progress-bar5 {
    width: 70%;
    height: 20px;
    border-radius: 10px;
    background-color: #e0e0e0;
    margin: 20px 0;
  }
  

  #lol1{
    color: black;
    font-size: 1.5rem;
    font-weight:1000 ;
    
    text-shadow: -2px 2px 4px rgba(58, 125, 128, 1);
  }
  #lol2{
    color: black;
    font-size: 1.5rem;
    font-weight:1000 ;
    
    text-shadow: -2px 2px 4px rgba(58, 125, 128, 1);
  }
  #lol3{
    color: black;
    font-size: 1.5rem;
    font-weight:1000 ;
    
    text-shadow: -2px 2px 4px rgba(58, 125, 128, 1);
  }

  


/* css code for progress bar ended */


#desk-icon{
   
   color: black;
}

/* //***************************Serviceffers css start*********************** */
.serviceffers{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom:50px;
}

.headings{
    margin-bottom:50px;
}

#web-dev{
    font-size: 1.5rem;
    font-weight:1000 ;
    text-shadow: -2px 2px 4px rgba(58, 125, 128, 1);
    top: 20px;

}

#digital-tutor {
    font-size: 1.5rem;
    font-weight:1000 ;
    text-shadow: -2px 2px 4px rgba(58, 125, 128, 1);
    top: 40px;
}

#problem-solver{
    font-size: 1.5rem;
    font-weight:1000 ;
    text-shadow: -2px 2px 4px rgba(58, 125, 128, 1);
    top: 60px;
}

.service-icons-1{
    left: 60px;
    top: 19px;
}

.service-icons-2{
    left: 60px;
    top: 40px;
}

.service-icons-3{
    
    left: 65px;
    top: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight:1000 ;
    text-shadow: -2px 2px 4px rgba(58, 125, 128, 1);

}






/* //***************************Serviceffers css end*********************** */


/* ********************************   Projects Report css start ************************ */

.text-center-project{
  font-size: 2rem;
}
.project-work .container{
  color: black;
  font-size: 2.6rem;
  font-weight: 400;
}


.project-work p{
  font-size: 1.6rem;
  text-align: center;
}

#null{
  font-size: 1.9rem;
}



/* Whatsapp btn */

.whatsapp{
  position: fixed;
  bottom: 40px;
  right: 20px;
  height: 100px;
  width: 150px;

}

.btn-whatsapp{
  width: 100px;
  border-radius: 30%;
}











/* ********************************   Projects Report css end ************************ */



@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");
*, *:after, *:before {
  box-sizing: border-box;
}

/* body {
  font-family: "Lexend", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #393232;
} */

.cards-area{
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-bottom: 2rem;
  top: -200px;
  color: black;
  
}
  


img {
  max-width: 100%;
  display: block;
  justify-content: center;
}

.card-list {
  
  width: 90%;
  max-width: 400px;
  box-shadow: -19px 1px 80px 21px rgba(0,0,0,0.6),
    0px 45px 26px 0px rgba(0,0,0,0.14);
}

.card {
  background-color: #FFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
  justify-content: center;
  
}
.card:hover, .card:focus-within {
  box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
  transform: translatey(-5px);
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-header a {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.25;
  padding-right: 1rem;
  text-decoration: none;
  color: inherit;
  will-change: transform;
}
.card-header a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;
}
.icon-button svg {
  width: 1em;
  height: 1em;
}
.icon-button:hover, .icon-button:focus {
  background-color: #EC4646;
  color: #FFF;
}

.card-footer {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
}
.card-meta:first-child:after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.card-meta svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}






























































































/* ============================================  MEDIA-------QUERIES ================================*/

/* Media queries */
@media only screen and (max-width: 768px) {
  .header {
    height: auto;
  }
  .center-div {
    position: static;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .header-buttons {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .header-buttons a {
    padding: 8px 25px;
    font-size: 0.8rem;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .center-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .header-buttons a {
    padding: 6px 20px;
    font-size: 0.7rem;
  }
}




@media screen and (max-width: 767px) {
    .text {
      text-align: left;
    }
  }


  /* For small screens */
@media (max-width: 767px) {
    .header-section {
      padding: 80px 0;
    }
    .header-buttons {
      display: block;
      text-align: center;
      margin-top: 30px;
    }
    .header-buttons a {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  
  /* For medium screens */
  @media (min-width: 768px) and (max-width: 991px) {
    .header-section {
      padding: 150px 0;
    }
    .header-buttons {
      margin-top: 50px;
    }
  }
  
  /* For large screens */
  @media (min-width: 992px) {
    .header-section {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .center-div {
      max-width: 600px;
    }
    .header-buttons {
      margin-top: 50px;
      margin-left: 100px;
    }
  }


  /* NAVBAR RESPONSIVE CODE */

  /* .navbar-nav {
    margin-top: 1rem;
    text-align: center;
  }
  
  .nav-item {
    margin: 0.5rem;
  }
  
  .nav-link {
    color: #fff;
    font-size: 1.2rem;
  }
   */

   @media (max-width: 768px) {
    .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #0b0b0b;
      z-index: 999;
      font-weight: 400;
      font-size: 2rem;
    }
  
    .navbar-nav {
      width: 100%;
      margin: 0;
      padding: 20px 0;
      text-align: center;
    }
  
    .nav-item {
      display: grid;
      margin: 10px 0;
      justify-content: center;
    }
  
    .nav-link {
      display: block;
      padding: 10px 0;
      border-bottom: 5px solid #f9f5f5;
      border-radius: 10px;
     
    }
  
    .navbar-toggler {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #e61313;
      background-color: white;
      position: sticky;
    }
  }


 /* ============================================  MEDIA-------QUERIES END   ================================*/


 

  